html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("/assets/inside_shop.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
}
main {
    width: 80vw;
}
a {
    color: grey;
    text-decoration: none;
}
a.link-important {
    color: white;
    text-decoration: underline;
}
a.link-important:visited {
    color: white;
}
a:visited {
    color: white;
}
a:hover {
    color: white;
    text-decoration: underline;
}
/******** scrollbar *********/
::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: white;
}