aside.pegged-info {
    font-size: 100%;
    width: 10%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
    order: 1
}

/******************************************************************************/
@media only screen and (max-width: 768px) {
    aside.pegged-info {
        width: 100%;
        overflow: hidden;
    }
}