body {
    font-family: 'Dangrek';
    /* background: linear-gradient(#000, #061106); */
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8) ), url('assets/inside_shop.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
header {
    background: transparent;
    width: 100%;
    order: 0;
}
section.content {
    background: transparent;
    /* margin: 80px auto 40px;
	max-width: 980px; */
    overflow: auto;
    overflow: visible;
    height: auto;
    order: 1;
}
/* .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: transparent;
    height: 90%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
} */

div.view {
    height: 100%;
}



/******** scrollbar *********/
::-webkit-scrollbar {
    /*background:rgba(1,1,1,0.5);*/
    background-color: transparent;
    /*width: .8em*/
    /*opacity:0.1;*/
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
        background:  white
}

/******************************************************************************/
@media only screen and (max-width: 768px) {
    .content {
        overflow: auto;
    }
    div.view {
        width: 100%;
        overflow: hidden;
    }
}
