html {
    background-color: yellow;
    height: 100%;
    width: 100%;
}
body {
    font-family: Arial, 'Lucida Sans Unicode';
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
p {
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: black;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
}
div.menu {
    /* position: fixed;
    top: 0;
    left: 0; */
    font-size: 100%;
    background: #f4f6f9;
    width: 10%;
    height: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 0;
    order: 0
}
div.view {
    width: 90%;
    height: 100%;
    margin: 0;
    padding: 0;
    order: 1
}



/******** scrollbar *********/
::-webkit-scrollbar {
    /*background:rgba(1,1,1,0.5);*/
    background-color: transparent;
    /*width: .8em*/
    /*opacity:0.1;*/
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
        background:  white
}

/******************************************************************************/
@media only screen and (max-width: 768px) {
    .content {
        overflow: auto;
    }
    div.menu {
        width: 100%;
        height: auto;
        overflow: hidden;
        font-size: 1em;
    }
    div.view {
        height: auto;
        width: 100%;
        overflow: hidden;
    }
}

.bold {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 7px;
}
.days {
    display: inline-block;
    width: 60px;
}
