<div class="info">
    <p>Fosnavåg Brygge</p>
    <p>
        <!-- <span class="bold">Åpningstider</span><br /> -->
        <span class="days">Mandag:</span> stengt<br />
        <span class="days">Tirsdag:</span> 10.00-16.30<br />
        <span class="days">Onsdag:</span> 10.00-16.30<br />
        <span class="days">Torsdag:</span> 10.00-18.00<br />
        <span class="days">Fredag:</span> 10.00-16.30<br />
        <span class="days">Lørdag:</span> 10.00-14.00<br />
    </p>
    <p>908 06 036</p>
    <p><a href="mailto:jorn.magnussen@gmail.com">e-post</a></p>
</div>
