<div class="home">
    <p><img class="logo" src="assets/logo_medium_trans.png"></p>
    <p><div id="map" class="map"></div></p>

    <div class="info">
        <h1>Fosnavåg Brygge</h1>
            <!-- <span class="bold">Åpningstider</span><br /> -->
            <h2>Mandag:&nbsp;stengt</h2>
            <h2>Tirsdag:&nbsp;10.00-16.30</h2>
            <h2>Onsdag:&nbsp;10.00-16.30</h2>
            <h2>Torsdag:&nbsp;10.00-18.00</h2>
            <h2>Fredag:&nbsp;10.00-16.30</h2>
            <h2>Lørdag:&nbsp;10.00-14.00</h2>
        <h3>908 06 036</h3>
    </div>
</div>
