.logo {
    width: 70%;
}
.home {
    text-align: center;
}
.map {
    text-align: center;
    height: 400px; /* The height is 400 pixels */
    width: 100%;
}

.gmnoprint {
    background: transparent;
}

@media only screen and (max-width: 640px) {
    app-root {
        width: 99vw;
    }
}
