body {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),
        url("assets/inside_shop.png") no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
}

app-root {
    display: block;
    width: 80vw;
}

a {
    color: grey;
    text-decoration: none;
}
a:visited {
    color: grey;
}
a:hover {
    color: white;
}
/******** scrollbar *********/
::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:window-inactive,
::-webkit-scrollbar-thumb {
    background: white;
}

@media only screen and (max-width: 640px) {
    app-root {
        width: 99vw;
    }
}
